GEMINI_API_KEY=AIzaSyDDHzsq1OHcjDEs905fVe8GCncYl9eIgZc
MONGODB_URI=mongodb+srv://testuser:2b34fd51@cluster0.mzjaq7s.mongodb.net/
VITE_ELEVENLABS_API_KEY=sk_b239e907209a24ed4d8401743b3e7c62bbffc74a745987a1
